body {margin:0; font-family:Poppins, sans-serif; background:#0b0b0b; color:#fff; padding:20px;}
header {text-align:center; padding:30px;}
nav a {margin:0 15px; color:#f5b700; text-decoration:none;}
h1,h2,h3 {color:#f5b700;}
.card {background:#111; padding:15px; margin:15px 0; border-radius:10px;}
.card img {width:100%; border-radius:5px; margin-bottom:5px;}
.grid {display:grid; grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); gap:20px;}
a:hover {text-decoration:underline;}
